*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Acme', sans-serif;
 }

 .app-wrap{
  height: 100vh;
  display: flex;
  justify-content: center;
 }

 .core-wrap{
  background: #dedac3;
  max-width: 640px;
  min-width: 320px;
 }

 /* HEADER */
.header-wrap{
  height:200px;
  width:100%;
  display: flex;
  justify-content: center;
}

.header-logo{
  height: 100%;
}